.addPost input{
    width: 500px;
}

.addPost textarea{
    width: 500px;
    height: 300px;
}

.addPost .panel{
    display: flex;
    margin-bottom: 20px;
}

.addPost .btnPanel{
    display: flex;
}

.addPost .panel .title {
    width: 100px;
}